.loan-card--container {
  margin: 2rem 0;
}

.loan-card--container ul {
  display: flex;
  justify-content: space-between;
}
.card--loan {
  padding: 2rem;
  background-color: var(--main-white);
  color: var(--main-black);
  border: 2px solid var(--main-green);
  display: flex;
  flex-direction: column;
  height: 35vh;
  justify-content: space-around;
  border-radius: 10px;
}

.card--loan h3 {
  font-size: xx-large;
}
