.form {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#signup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form.register_form {
  width: 75%;
  background-color: aliceblue;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  padding: .7rem 2rem;
}

.form .tab-group {
  display: flex;
}

.field-wrap{
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
}